<% @diffs.each do |diff| %>

<div class="row">
  <%
      ca = diff[:a][:info]["commit"]
      cb = diff[:b][:info]["commit"]
      ja = diff[:a][:info][:job_id]
      jb = diff[:b][:info][:job_id]
      an = artifact_job_names[diff[:a][:info]["name"].to_sym]
      bn = artifact_job_names[diff[:b][:info]["name"].to_sym]
  %>
  <% if an == bn %>
    <h3><%= ca["short_id"] %>  VS <%= cb["short_id"] %></h3>
  <% else %>
    <h3><%= an %>  VS <%= bn %></h3>
  <% end %>
  <table class="table">
    <tr>
      <td><span class="VM">A</span></td>
      <td><%= an %></td>
      <td>[<%= ca["short_id"] %>]</td>
      <td><%= ca["message"].truncate(80) %></td>
      <td><%= ca["author_name"] %></td>
      <td><%= ca["committed_date"] %></td>
      <td>
        <%= link_to '<span class="glyphicon glyphicon-download" aria-hidden="true"></span>'.html_safe,
          "job/#{ja}.csv?"+([("selection=#{@selection}" if @selection != 'all'),
                             ("execution=#{@execution}" if @execution),
                             "warmup=#{@warmup}"].compact.join("&")),
          style: 'margin-left: 20px;', class: 'form-check-input' %>
      </td>
    </tr>
    <tr>
      <td><span class="VM VMB">B</span></td>
      <td><%= bn %></td>
      <td>[<%= cb["short_id"] %>]</td>
      <td><%= cb["message"].truncate(80) %></td>
      <td><%= cb["author_name"] %></td>
      <td><%= cb["committed_date"] %></td>
      <td>
        <%= link_to '<span class="glyphicon glyphicon-download" aria-hidden="true"></span>'.html_safe,
          "job/#{jb}.csv?"+([("selection=#{@selection}" if @selection != 'all'),
                             ("execution=#{@execution}" if @execution),
                             "warmup=#{@warmup}"].compact.join("&")),
          style: 'margin-left: 20px;', class: 'form-check-input' %>
      </td>
    </tr>
  </table>
</div>
<div class="row">
  <table class="diff">
    <% diff[:diff].each do |suite, results| %>
      <tr>
        <td colspan="6">
          <h5><%= suite %></h5>
        </td>
      </tr>

      <tr>
        <% if suite == "summary" %>
          <td colspan=3></td>
        <% else %>
          <td><b>name</b></td>
          <td><span class="VM">A</span></td>
          <td><span class="VM VMB">B</span></td>
        <% end %>
        <td><b>mean</b></td>
        <% if suite == "summary" %>
          <td colspan=2></td>
        <% else %>
          <td class="padl" ><span class="VM">A</span></td>
          <td><span class="VM VMB">B</span></td>
        <% end %>
        <td><b>median</b></td>
        <td class="padl"><b>variance</b></td>
      </tr>

      <% results[:res].each do |name, res| %>
        <% ares = diff[:a][:res] %>
        <% bres = diff[:b][:res] %>
        <tr>
          <td><%= name %></td>
          <td><%= ares[suite][name][:mean].round(2) rescue "-" %></td>
          <td><%= bres[suite][name][:mean].round(2) rescue "-" %></td>
          <td class="<%= ratio_to_class((res[:mean] rescue :missing)) %>"><%= res[:mean].round(2) rescue "-" %></td>
          <td class="padl"><%= ares[suite][name][:median].round(2) rescue "-" %></td>
          <td><%= bres[suite][name][:median].round(2) rescue "-" %></td>
          <td class="<%= ratio_to_class((res[:median] rescue :missing))%>"><%= res[:median].round(2) rescue "-" %></td>
          <td class="padl">&plusmn; <%= ares[suite][name][:variance].round(0) rescue '-'%> / <%= bres[suite][name][:variance].round(0) rescue '-'%>ms</td>
       </tr>
      <% end %>
      <tr>
        <td colspan="3"></td>
        <td class="<%= ratio_to_class(results[:mean])%>"><%= results[:mean].round(2) %></td>
        <td colspan="2"></td>
        <td class="<%= ratio_to_class(results[:median])%>"><%= results[:median].round(2) %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>

<% end %>
