<% job_name = {} %>

<div class="row">
<%= form_with(url: diff_path, method: "get", local: true) do %>
<table class="table">
  <thead>
    <tr>
      <th scope="row"></th>
      <th scope="row">VM</th>
      <th scope="row">Commit</th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row"></th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
    <%
        ca = job[:info]["commit"]
        an = artifact_job_names[job[:info]["name"].to_sym]
    %>
      <tr>
        <td><span class="VM"><%= job_name[job[:info]["id"]] = job_name.size+1 %></span></td>
        <td><%= an %></td>
        <td>[<%= ca["short_id"] %>]</td>
        <td><%= ca["message"].truncate(80) %></td>
        <td><%= ca["author_name"] %></td>
        <td><%= ca["committed_date"] %></td>
      </tr>
  <% end %>
</table>
<% end %>
</div>


<% @graphs.each do |suite, bms| %>
  <h4><%= suite %></h4>
  <div class="card-group">
    <% bms.each do |bm, data| %>
      <div class="card" style="min-width: 550px">
      <div class="card-body">
        <h5><%= bm %></h5>
        <%= column_chart data.map{|d| [job_name[d[0]], d[1]]}, width: '500px' %>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
