<div class="row">
  <div class="col">
    <%= form_with(url: diff_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :warmup) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Warmup</label>
        </div>
        <%= select_tag(:warmup,
                       options_for_select([0,1,3,5,8,10],
                                          selected: @warmup),
                       onchange: ("this.form.submit()"),
                       class: "custom-select")%>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_with(url: diff_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :kind) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Show</label>
        </div>
        <%= select_tag(:kind,
                       options_for_select(['diff','graph'],
                                          selected: @kind),
                       onchange: ("this.form.submit()"),
                       class: "custom-select")%>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_with(url: diff_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :selection) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Selection</label>
        </div>
        <%= select_tag(:selection,
                       options_for_select(selections.keys,
                                          selected: @selection),
                       onchange: ("this.form.submit()"),
                       class: "custom-select")%>
      </div>
    <% end %>
  </div>

  <% if @execution.present? %>
    <div class="col">
      <%= form_with(url: diff_path, method: "get", local: true) do |form| %>
        <%= add_params(form, :execution) %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Execution</label>
          </div>
          <%= select_tag(:execution,
                         options_for_select(@executions,
                                            selected: @execution),
                         onchange: ("this.form.submit()"),
                         class: "custom-select")%>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col"></div>
  <% end %>
  <div class="col"></div>
</div>


<%= @info %>

<%= render :partial => @kind %>
