<div class="row">
  <div class="col">
    <%= form_with(url: graph_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :warmup) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Warmup</label>
        </div>
        <%= select_tag(:warmup,
                       options_for_select([0,1,3,5,8,10],
                                          selected: @warmup),
                       onchange: ("this.form.submit()"), class: "custom-select")%>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_with(url: graph_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :revisions) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Revisions</label>
        </div>
        <%= select_tag(:revisions,
                       options_for_select([3,10,20,40,60,80,100],
                                          selected: @revisions),
                       onchange: ("this.form.submit()"), class: "custom-select")%>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_with(url: graph_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :branch) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Branch</label>
        </div>
        <%= select_tag(:branch,
                       options_for_select(@branches.map{|b| [b.to_s.gsub("remotes/origin/",""), b]},
                                          selected: @branch),
                       onchange: ("this.form.submit()"), class: "custom-select")%>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= form_with(url: graph_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :vm) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">VM</label>
        </div>
        <%= select_tag(:vm,
                       options_for_select(artifact_job_names.invert,
                                          selected: @vm),
                       onchange: ("this.form.submit()"), class: "custom-select")%>
      </div>
    <% end %>
  </div>

  <div class="col">
    <%= form_with(url: graph_path, method: "get", local: true) do |form| %>
      <%= add_params(form, :filter) %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">filter</label>
        </div>
        <%= select_tag(:filter,
                       options_for_select({'all' => 'all', 'Merge requests' => 'merges'},
                                          selected: @filter),
                       onchange: ("this.form.submit()"), class: "custom-select")%>
      </div>
    <% end %>
  </div>



</div>

<% @graphs.each do |suite, bms| %>
  <h4><%= suite %></h4>
  <%=
    revs = bms.inject(nil) do |acc, data|
      data = data[1].map{|e| e[0]}
      (acc || Set.new(data)) & Set.new(data)
    end

    line_chart(bms.map do |name, data|
      {name: name,
       data: (data.reject{|r| !revs.include?(r[0])})}
    end)
  %>
  <div class="card-group">
    <% bms.each do |bm, data| %>
      <div class="card" style="min-width: 550px">
      <div class="card-body">
        <h5><%= bm %></h5>
        <%= line_chart data, width: '500px' %>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
