@import "bootstrap";
@import 'bootstrap/glyphicons';

.big-diff.faster {
  background-color: #00ff00;
}
.faster {
  background-color: #bbffbb;
}
.big-diff.slower {
  background-color: #ff5555;
}
.slower {
  background-color: #ffbbbb;
}
.missing-data {
  background-color: #aaa;
}

.diff td {
  padding-left: 5px;
}

.diff td.padl {
  padding-left: 50px;
}

.VM {
  color: #4444aa;
  font-weight: bold;
}
.VMB {
  color: #116666;
}

th.rotate {
  white-space: nowrap;
  padding: 0 0 60px 15px;
}
th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
